{{!-- <!doctype html>
<html>
<head>
<title>Bookcase Detail</title> 
</head>

<link href="../style.css" rel="stylesheet">
<body>
     <a href="https://www.w3schools.com">  --}}
     <a href="/">Home</a>
<h1>Bookcase Details</h1>
<h2>{{name}} </h2>
<h2>{{price}}</h2>
<ul>
    <li>Height: {{height}}</li>
    <li>Width: {{width}}</li>
    <li>Color: {{color}}</li>
</ul>
{{!-- <hr>
</body>
</html> --}}
{{!-- name : "Billy", type : "bookcase", height : 63, width : 79, price : 98, color : "white" --}}