<!doctype html>
<html>
<head>
<title>Bookcase Detail</title> 
</head>

<link href="../style.css" rel="stylesheet">
<body>
     <a href="https://www.w3schools.com">Home</a> 

<h1>Bookcase Details</h1>
<h2>{{name}} </h2>
<h2>{{price}}</h2>
<ul>
    <li>Height: {{height}}</li>
    <li>Width: {{width}}</li>
    <li>Color: {{color}}</li>
</ul>
<hr>
</body>
</html>