
<head>
<title>Bookcase Detail</title> 
</head>
<link href="../style.css" rel="stylesheet">

<body id="detail">
       
<a href="/">Home</a>
<h1>Bookcase Details</h1>
<h2>{{name}} </h2>
<h2>$ {{price}}</h2>
<ul>
    <li>Height: {{height}}</li>
    <li>Width: {{width}}</li>
    <li>Type: {{type}}</li>
    <li>Color: {{color}}</li>
</ul>
<p{{notes}}></p>

{{!-- <hr>
</body>
</html> --}}
{{!-- name : "Billy", type : "bookcase", height : 63, width : 79, price : 98, color : "white" --}}