{{!-- 
<!doctype html>
<html>
<head>
<title>Bookcase Home</title> 
</head> --}}

<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

<!-- Don't use this in production: -->
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>


<link href= "../style.css" rel="stylesheet">
<body>

    <h2>Bookcases:</h2>

<div id="root"></div>
<script type="text/babel">

   // const items =  {{{ items }}}
   // console.log(items)

    //const cases =bookcases.map((name) => <li key = {name}>{name} </li>);
    // console.log(items)

   const Display = (props) => {
      const bullets =  props.items.map((item)=> {
        return <li key={item._id}>{item.name}</li>
      });
      return <ul>{bullets}</ul>
    }


   class App extends React.Componet {
     // return <div><h2>Show components here <li>{{items}}</li> </h2></div>;
     constructor(props) {
         super(props);
         this.state={
             items:{{{bookcases}}}
         }
     }
     getData(){
         fetch(`/api/bookcases`)
         .then(result => this.setState(result))
         .catch(err => console.log("Not Working", err))
     }
     render(){
         return(<div>
             <Display getData={this.getData}>
            
             </div>);
     }
    }


    ReactDOM.render(App , document.getElementById('root'));
</script>
 //</body>
//</html> 

//----------------------------------------------------------------------------

//{{!-- <!doctype html>
//<html>
//<head>
//<title>Bookcase Home</title> 
//</head>


 //const dispaly = ( props) => {
        //return <div>
            //<h1>bookcases</h1>
            //<form> 
           //    Name: <input type="text" name= "bookcases" value ={props.}></input>
           // </form>
          //   </div>
   // }

//<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
//<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

//<!-- Don't use this in production: -->
//</html>/script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>


//<link href= "../style.css" rel="stylesheet">
//<body>

   // <h2>Bookcases:</h2>
//{{#each bookcases}}
//<li>
 //    Name:<a href="/detail?id={{_id}}">{{name}}</a>
// </li> 
//{{/each}}
//<hr>
//</body>
//</html> --
